body {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central {
    width: 400px;
    background: rgb(rgba(96, 90, 5, 0.769), rgb(99, 106, 6), rgb(116, 128, 5));
    padding: 20px;
    border-radius: 50px;
}

.central div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.central button {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}

.central div button:hover {
    background-color: darkgoldenrod;
}