body {
    background: linear-gradient(purple, blue, white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 350px;
    margin-bottom: 45px;
}

.central{
    background: white;
    width: fit-content;
    padding: 50px;
    border-radius: 10%;
}

.central div button{
   width: 100px;
   background: red;
   color: white;
   font-size: 15px;
   cursor: pointer;
}

.central div button:hover{
    background-color: darkred;

}